In [1]:
# Import modules
# import pickle
# import h5py as h5
# import os
# import sys
import pandas as pd
import numpy as np
# import matplotlib.pyplot as plt
# import matplotlib as mpl
# import seaborn as sns
# import netCDF4 as nc
# import itertools
import datetime
import time
from scipy.io import loadmat
# import statsmodels.api as sm

In [14]:
def decyeartodatetime(din):
    start = din
    year = int(start)
    rem = start - year
    base = datetime.datetime(year, 1, 1)
    result = base + datetime.timedelta(seconds=(base.replace(year=base.year + 1) - base).total_seconds() * rem)
#     if result.hour>12:
#         result = result+dt.timedelta(days=1)
#     result2 = result.replace(hour=0, minute=0, second=0, microsecond=0)
    result2 = result.replace(minute=0, second=0, microsecond=0)
    return result2

In [3]:
#### CHANGE THE PATH TO POINT AT THESE FILES
fsmb = loadmat('relayerthinningpaper/SMB_MERRA_atpix.mat')
ftskin = loadmat('relayerthinningpaper/TEMP_MERRA_atpix.mat')
ftime = loadmat('relayerthinningpaper/TIME_MERRA-2_Mod.mat')

In [27]:
merra_time = ftime['time']
smb = fsmb['smb']
tskin = ftskin['temp']
dti = [decyeartodatetime(ii) for ii in merra_time.flatten()]
M_df = pd.DataFrame({'decdate':merra_time.flatten(),'smb':smb.flatten(),'tskin':tskin.flatten()},index=dti)
i2019 = np.where(M_df.index.year==2019)[0]
M_df.drop(M_df.iloc[i2019].index,inplace=True) #get rid of 2019 data

In [65]:
M_df['smb_pertime'] = M_df['smb']*5/365.25 # just checking that we get the same answer when we take the mean and sum

In [68]:
annual_df = M_df.resample('a').agg({'decdate':'mean','smb':'mean','tskin':'mean','smb_pertime':'sum'})

In [80]:
annual_df

                decdate       smb       tskin  smb_pertime
1980-12-31  1980.498577  0.793930  256.879265     0.793386
1981-12-31  1981.497203  0.864710  255.652457     0.864118
1982-12-31  1982.497203  0.750207  255.450740     0.749693
1983-12-31  1983.497203  0.657285  255.074400     0.656835
1984-12-31  1984.495845  0.732440  255.337704     0.731939
1985-12-31  1985.494464  0.967989  256.170298     0.967327
1986-12-31  1986.494463  0.495310  253.922535     0.494971
1987-12-31  1987.494463  0.581775  254.690308     0.581376
1988-12-31  1988.499943  0.874415  256.908809     0.885787
1989-12-31  1989.505422  0.532248  255.435862     0.531883
1990-12-31  1990.505422  0.443981  254.923676     0.443677
1991-12-31  1991.505422  0.668117  255.026731     0.667660
1992-12-31  1992.504041  1.000210  256.251047     0.999525
1993-12-31  1993.502683  0.899672  256.135655     0.899056
1994-12-31  1994.502683  0.775296  255.414017     0.774765
1995-12-31  1995.502683  0.656929  255.114244     0.656480
1996-12-31  1996.501309  0.543461  254.937992     0.543089
1997-12-31  1997.499943  0.955981  255.787116     0.955327
1998-12-31  1998.499943  1.019162  256.383850     1.018464
1999-12-31  1999.499943  0.694887  255.945848     0.694411
2000-12-31  2000.498577  1.139279  257.842812     1.138499
2001-12-31  2001.497203  0.599215  255.939149     0.598805
2002-12-31  2002.497203  0.679939  256.815321     0.679473
2003-12-31  2003.497203  0.993658  256.016385     0.992978
2004-12-31  2004.495845  0.867320  255.077804     0.866726
2005-12-31  2005.494464  1.172705  257.034469     1.171903
2006-12-31  2006.494463  0.664352  256.114515     0.663897
2007-12-31  2007.494463  0.746716  255.523957     0.746205
2008-12-31  2008.499943  0.934087  256.115582     0.946234
2009-12-31  2009.505422  0.692651  254.540626     0.692177
2010-12-31  2010.505422  0.676745  254.317209     0.676282
2011-12-31  2011.505422  0.733975  254.691548     0.733473
2012-12-31  2012.504041  0.705034  254.271798     0.704551
2013-12-31  2013.502683  0.801706  253.937894     0.801158
2014-12-31  2014.502683  0.950700  254.989434     0.950049
2015-12-31  2015.502683  0.698528  252.926833     0.698050
2016-12-31  2016.501309  0.922809  255.907986     0.922177
2017-12-31  2017.499943  0.747925  254.623401     0.747413
2018-12-31  2018.499943  0.610918  254.037729     0.610500

In [81]:
spinuptime = 600 # years you want to spin up for 
data_timestart = 1980
data_timeend = 2018
modeltimestart = data_timestart-spinuptime
modeltime = np.arange(modeltimestart,data_timeend+1)

In [82]:

smb_mean = annual_df.smb['1980':'2007'].mean()
smb_sd = annual_df.smb['1980':'2007'].std()
spin_smb = np.random.normal(smb_mean,smb_sd,spinuptime) #generate a random SMB for each year of the spin up
smb_full = np.concatenate((spin_smb,annual_df.smb.values))
smb_out = np.array((modeltime,smb_full))

tskin_mean = annual_df.tskin['1980':'2007'].mean()
tskin_sd = annual_df.tskin['1980':'2007'].std()
spin_tskin = np.random.normal(tskin_mean,tskin_sd,spinuptime) #generate a random SMB for each year of the spin up
tskin_full = np.concatenate((spin_tskin,annual_df.tskin.values))
tskin_out = np.array((modeltime,tskin_full))

np.savetxt('smb_out.csv',smb_out,delimiter=',',fmt='%1.4f')
np.savetxt('tskin_out.csv',tskin_out,delimiter=',',fmt='%1.4f')